{% extends 'base.html.twig' %}

{% block title %}Users list{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mx-auto"
            style="margin: 5px 0 20px 0; text-align: center;
        font-weight: 100;">
            Список пользователей
        </h1>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Username</th>
                <th scope="col">E-Mail</th>
                <th scope="col">Password</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
            <tr>
                <th scope="row">{{ user.id }}</th>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.password }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
